#navbar-wrapper
  %nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        %a#sidebar-toggle.navbar-brand{href: "#"}
          %i.fa.fa-bars.bg-colored
      %i.fa.fa-user-circle.text-success.d-flex
        