<!-- %a{href: "javascript:void(0)"} Logo -->
%ul.navlinks-inline
  %li.nav-item
    %a.nav-link{href: "javascript:void(0)"} Link
  %li.nav-item
    %a.nav-link{href: "javascript:void(0)"} Link
  %li.nav-item
    %a.nav-link{href: "javascript:void(0)"} Link