%nav.navbar.navbar-expand-sm.bg-colored.navbar-dark
  .container-fluid
    %a.navbar-brand{href: "#"} Music App
    %button.navbar-toggler{"data-bs-target" => "#collapsibleNavbar", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{href: "/artists"} Artists
        %li.nav-item
          %a.nav-link{href: "/albums"} Albums
        %li.nav-item
          %a.nav-link{href: "/tracks"} Tracks
        