%aside#sidebar-wrapper
  .sidebar-brand
    %h2#logo iPLAY
  %ul.sidebar-nav
    %li{:class => "#{ 'active' if current_page?(artists_path)}"}
      %a{href: "/artists"}
        %i.fa.fa-home Artists
    %li{:class => "#{ 'active' if current_page?(albums_path)}"}
      %a{href: "/albums"}
        %i.fa.fa-home Albums
    %li{:class => "#{ 'active' if current_page?(tracks_path)}"}
      %a{href: "/tracks"}
        %i.fa.fa-home Tracks