%aside#sidebar-wrapper
  .app-branding
    %span.app-logo
      %img#logo.logo-icon.mr-2{alt: "logo", src: "/assets/logo.png"}/
      %span#logo-text.logo-text iPLAY
  %ul.sidebar-nav
    %li
      %a{href: "/artists"}
        %i.fa.fa-home Artists
    %li
      %a{href: "/albums"}
        %i.fa.fa-home Albums
    %li
      %a{href: "/tracks"}
        %i.fa.fa-home Tracks